h1 {
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    color:darkgreen;
    background-color:burlywood;
    border-radius: 5px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
h2 {
   font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
   background-color: cornflowerblue;

}
h3 {
   font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
   color:black;
   background-color: cornflowerblue;
   font-size:140%;
}
h4 {
 font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
 color:black;
 background-color: cornflowerblue;
 font-size:140%;
}